<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Positive Test of placing order">
    <classes>
      <class name="amazonEcom.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->

   <test thread-count="5" name="Negative Test">
    <classes>
      <class name="amazonEcom.tests.ErrorValidation"/>
    </classes>
  </test>    
<!--Test -->
  
</suite> <!-- Suite -->
